h2{
    text-align: center;
    color: burlywood;
}
#table{
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(25, 15, 31);
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
input[type="button"]{
    border: transparent;
    border-radius: 6px;
    background-color: rgb(41, 39, 39);
    color: skyblue;
    width: 100%;
    height: 100%;
}
input[type="button"]:hover{
    background-color: darkgrey;
}
input[type="text"]{
    border-radius: 6px;
    border: transparent;
    height: 80px;
    width: 100%;
}